body{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navBar{
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
}
.pos{
    display: inline-block;
    font-style: oblique;
    margin-left: 50px;
    margin-top: 10px;
    font-weight: bolder;
    color: white;
    position: absolute;
    font-size: 40px;
}
.navRight{
    right: 0;
    position: absolute;
    word-spacing: 20px;
    top: 0;
    padding: 15px;
    font-size: 30px;
}
.sec1{
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.dashboard{
    font-size: 100px;
    font-weight: bolder;
    color: #FECA57;
    position: absolute;
    margin-left: 35vw;
    margin-top: 10px;
}
.btnCustomer{
    width: 400px;
    height: 70px;
    font-size: 30px;
    position: absolute;
    margin-top: 200px;
}
.btnItems{
    width: 400px;
    height: 70px;
    font-size: 30px;
    position: absolute;
    margin-top: 300px;
}
.btnOrders{
    width: 400px;
    height: 70px;
    font-size: 30px;
    position: absolute;
    margin-top: 400px;
}
.customerCount{
    width: 400px;
    height: 300px;
    background-color: lightblue;
    position: absolute;
    margin-top: 200px;
    margin-left: 500px;
    border-radius: 20%;
}
.customerCount>h1{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;
}
.customerCount>h2{
    text-align: center;
    font-size: 100px;
    color: dodgerblue;
}
.ItemCount{
    width: 400px;
    height: 300px;
    background-color: lightblue;
    position: absolute;
    margin-top: 200px;
    margin-left: 1000px;
    border-radius: 20%;
}
.ItemCount>h1{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;
}
.ItemCount>h2{
    text-align: center;
    font-size: 100px;
    color: dodgerblue;
}
.sec2{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(to right top, #ffffff, #0d73e7);
}
.Label{
    font-size: 100px;
    font-weight: bolder;
    color: #111515;
    margin-left: 30vw;
    margin-top: 30px;
    position: relative;
}
.table{
    position: relative;
    left: 700px;
    top: -400px;
    border: 2px solid black;
}
.from{
    margin-top: 10px;
    position: relative;
}